

div {
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    vertical-align: middle;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;                       
    transform: translate(0, 100%) 
}
.name {
    font-weight: 900;
    margin-bottom: 15px;
}

.message {
    font-weight: 100;
}
